@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.cardImg {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #CECECE;
  }
  
  #bikeList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1 calc(100% / 2 - 30px);
    margin-bottom: 30px; 
  }

  .title {
    font-size: 36px;
  }
  
  .name {
    margin: 20px 0 0 0;
    font-size: 18px;
  }
  
  .cost {
    margin: 10px 0 20px 0;
  }
  
  .rentBtn, .loadMoreBtn {
    min-width: 170px;
    min-height: 38px;
    background-color: #3C1491;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
   }
  
  #loadMore {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 77% 23%;
  }
  
  .navigation_addresses {
    margin: 0;
    padding: 0;
  }
  
  .address, .active {
    list-style: none;
    padding: 5px 0;
    text-decoration: none;
  }

  .active {
    position: relative;
  }
  
  .active::before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    left: -17px;
    background-color: #3C1491;
  }
  
  .link {
    text-decoration: none;
    color: black;
    position: relative;
  }
  
  .addresses_title {
    margin: 0 0 20px 0;
    font-weight: normal;
    font-size: 20px;
  }
  