.background {
    background: url('../images/index_front_images_1.png'), url('../images/index_front_images.png') no-repeat center/cover;
    position: absolute;
    top: 68px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 68px - 61px);
  }
  
  .main_title {
    margin: 100px 0 0 0;
    color: white;
    font-size: 48px;
    line-height: 60px;
    max-width: 500px;
  }
  
  .main_text {
    color: white;
    line-height: 30px;
    max-width: 765px;
    font-size: 18px;
  }

  .button {
  min-width: 170px;
  min-height: 38px;
  background-color: #3C1491;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .button_rent {
    width: 225px;
  }
  
  .button_map {
    margin-left: 30px;
    width: 205px;
  }
  
  .main_link {
    color: white;
  }
  