{{> header}}
<div>
  <h3 class="title"> {{title}}</h3>
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->

  <div class="wrapper">
    <div id="bikeList">
      <!-- Здесь необходимо отобразить карточки велосипедов -->
    </div>
    <div class="navigation">
      <ul class="navigation_addresses">
        <!--
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
        <h4 class="addresses_title">Пункты выдачи</h4>
        {{#pointersList}}
        <li {{#isActive}} class="active" {{/isActive}} class="address"> <a class="link" href='/catalog/{{_id}}'> {{address}} </a> </li>
        {{/pointersList}} 
        <li  class="address"> <a class="link" href="/catalog/">Все пункты</a></li>
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button class="button loadMoreBtn hidden" type="button">Загрузить ещё</button>
  </div>

</div>
{{> footer}}

<link rel="stylesheet" href="/styles/catalog.css">
<script src="../js/catalog.js"></script>
<script src="../js/api.js"></script>
