{{> header}}

  <div class="main">
    <h1 class="main_title">Сервис аренды велосипедов</h1>
    <p class="main_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!</p>
    <button class="button button_rent"><a class="link main_link" href="/catalog/">Арендовать велосипед</a></button>
    <button class="button button_map"><a class="link main_link" href="/map/">Найти пункт выдачи</a></button>
  </div>
  
  <div class="background"></div>

{{> footer}}

<link rel="stylesheet" href="../styles/index.css">